* {
  box-sizing: border-box;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1600px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  @include media-query(lg) {
    flex-direction: row;
  }
}

.title {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  &__text {
    font-weight: bold;
  }
  @include media-query(lg) {
    justify-content: flex-start;
  }
}
